@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary-dark: #30274A;
$primary: #6F74B2;
$primary-light: #ECE9F0;
$alt-light: #F2F8F6;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: $primary-dark;
}

h1 {
  font-size: 3.4rem;
  line-height: 5.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.center {
  text-align: center;
}

@media (max-width:900px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}

.cta-button {
  background-color: $primary;
  color: $primary-light;
  font-size: 1rem;
  height: 40px;
  line-height: 38px;
  width: 220px;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  border: 1px $primary solid;
  cursor: pointer;
  &:hover {
    color: $primary-light;
  }
}

.cta-button-lg {
  @extend .cta-button;
  font-size: 1.4rem;
  height: 60px;
  line-height: 58px;
  width: 320px;
}
.cta-button-lg-alt {
  @extend .cta-button-lg;
  background-color: $alt-light;
  color: $primary;
  &:hover {
    color: $primary;
  }
}

.nav-container {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  height: 100px;
  line-height: 60px;
  padding: 20px 60px;
  .mobile-nav {
    display: none;
  }
  .items-left {
    width: calc(50vw - 150px);
    display: flex;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    a, div {
      text-decoration: none;
      margin-right: 50px;
      color: $primary-dark;
      &:hover {
        color: $primary;
      }
    }
  }
  .item-center {
    width: 300px;
    img {
      width: 100%;
    }
  }
  .items-right {
    width: calc(50vw - 150px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .cta-button {
      padding: 10px 18px;
      line-height: 18px;
      background-color: $primary-dark;
      font-weight: 700;
    }
  }
}

@media(max-width:1130px) {
  .nav-container {
    padding: 20px 30px;
    justify-content: space-between;
    .mobile-nav {
      display: inline-block;
      cursor: pointer;
      order: 3;
      text-align: right;
    }
    .items-left {
      display: none;
    }
    .items-right {
      order: 2;
      margin: 0 20px;
      width: 50%;
      .cta-button {
        width: 100%;
        font-size: 0.8rem
      }
    }
    .item-center {
      order: 1;
      width: 30%;
    }
  }
}

.scroll-nav {
  @extend .nav-container;
  position: fixed;
  background-color: $alt-light;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  width: 100%;
}

.home-container {
  border-radius: 0 0 60px 60px;
  background-color: $alt-light;
  .landing-page-container {
    height: 100vh;
    display: flex;
    padding: 0 60px;
    >div {
      width: 50%;
    }
    >div:first-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 60px;
      .cta-button-lg-alt {
        margin: 20px 0;
      }
    }
    >div:last-of-type {
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  .landing-bottom-container {
    padding: 0 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .quote-container {
      font-family: 'PT Serif', serif;
      font-size: 2rem;
      text-align: center;
      max-width: 800px;
    }
    .brand-logo-container {
      margin: 60px 0;
      max-width: 800px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img {
        max-height: 130px;
        padding: 40px;
      }
    }
  }
}
.landing-feature-container {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  .landing-feature-item {
    display: flex;
    padding-bottom: 160px;
    img {
      width: 60%;
    }
    >div {
      width: 50%;
    }
  }
}

@media (max-width:900px) {
  .home-container {
    .landing-page-container {
      margin-bottom: 60px;
      >div:first-of-type {
        margin-top: 30px;
        padding-right: 0;
      }
      >div:last-of-type {
        margin-top: 30px;
      }
    }
    .landing-feature-container {
      .landing-feature-item {
        margin: 30px 0;
        padding-bottom: 20px;
        text-align: center;
        img {
          margin-bottom: 20px;
        }
      }
    }
    .landing-bottom-container {
      .quote-container {
        font-size: 1.4rem;
      }
    }
  }
}

.demo-container {
  width: 100%;
  padding: 0 60px;
  text-align: center;
  margin-top: 60px;
}

@media (max-width:900px) {
  .demo-container {
    padding: 0;
    overflow: hidden;
    iframe {
      min-width: 500px;
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  >div:first-of-type {
    color: $primary-light;
    text-align: center;
    padding: 40px 0;
  }
  >div:last-of-type {
    display: flex;
    padding: 60px;
    >div {
      width: 33.3%;
      color: $primary-light;
      >div:first-of-type {
        font-weight: 700;
        margin-bottom: 20px;
      }
      i {
        font-size: 2rem;
        margin-right: 40px;
        color: $primary-light;
      }
    }
  }
  .questions-copy {
    h4 {
      margin-bottom: 40px;
    }
    .call-copy {
      margin-top: 20px;
    }
  }
  .links-container {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: $alt-light;
    }
  }
}

@media (max-width:900px) {
  .footer-container {
    >div:last-of-type{
      flex-direction: column;
      >div {
        width: 100%;
        text-align: center;
        margin: 20px 0;
      }
      >div:last-of-type {
        i {
          margin: 0 20px;
        }
      }
    }
  }
  .home-container {
    .landing-page-container {
      height: auto;
      flex-direction: column-reverse;
      >div {
        width: 100%;
      }
    }
    .landing-feature-container {
      .landing-feature-item {
        flex-direction: column;
        >div {
          width: 100%;
        }
      }
      .landing-feature-item:nth-of-type(2) {
        flex-direction: column-reverse;
      }
    }
  }
}

.solutions-container {
  background-color: $alt-light;
  border-radius: 0 0 60px 60px;
}

.solutions-landing-container {
  height: 100vh;
  text-align: center;
  padding-top: 40px;
  h1 {
    width: 60%;
    margin-left: 20%;
  }
  .solutions-landing-item-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    .solutions-landing-item {
      width: 250px;
      img {
        width: 150px;
      }
      h2 {
        margin-top: 20px;
        font-family: 'PT Serif', serif;
        font-size: 2rem;
        line-height: 3.2rem;
      }
    }
    .solutions-landing-item:nth-of-type(2) {
      margin-top: 100px;
    }
  }
}

@media (max-width:900px) {
  .solutions-landing-container {
    height: auto;
    margin-bottom: 60px;
    .solutions-landing-item-container {
      flex-direction: column;
      .solutions-landing-item {
        margin-top: 40px !important;
        width: 100%;
        padding: 0 30px;
      }
    }
  }
}

.grid-feature-container {
  text-align: center;
  overflow: hidden;
  .grid-feature-item-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -25%;
    width: 150%;
    margin-top: 40px;
    .grid-feature-item {
      width: 30%;
      border: 1px $primary solid;
      img {
        width: 50%;
        margin: 40px 0;
        border-radius: 50%;
      }
      h2 {
        font-family: 'PT Serif', serif;
        font-size: 2rem;
        line-height: 3.2rem;
        padding: 0 40px;
      }
      h4 {
        padding: 0 40px 40px 40px;
      }
      p {
        font-size: 0.9rem;
        padding: 0 40px 40px 40px;
      }
    }
    .grid-feature-item:nth-of-type(2), .grid-feature-item:nth-of-type(3), .grid-feature-item:nth-of-type(4), .grid-feature-item:nth-of-type(5) {
      border-left: none;
    }
  }
  .cta-button {
    margin: 40px auto;
  }
}

.grid-feature-container-solutions {
  @extend .grid-feature-container;
}

@media (max-width:900px) {
  .grid-feature-container {
    .grid-feature-item-container {
      flex-direction: column;
      .grid-feature-item:nth-of-type(1), .grid-feature-item:nth-of-type(5) {
        display: none;
      }
      .grid-feature-item {
        width: 70%;
        padding: 40px;
        margin: auto;
      }
    }
  }
  .grid-feature-container-solutions {
    padding: 0 30px;
    .grid-feature-item {
      border: none !important;
      width: 90% !important;
    }
  }
}

.accordion-feature-container {
  margin-top: 40px;
  padding: 60px;
  width: 100%;
  .accordion-feature-item-container {
    display: flex;
    >div {
      width: 50%;
      padding: 60px;
      padding-left: 0;
    }
    >div:first-of-type {
      text-align: left;
      h2 {
        font-family: 'PT Serif', serif;
        border-left: 4px $primary solid;
        padding-left: 10px;
      }
      h4 {
        padding-left: 16px;
      }
      .accordion-feature-item {
        margin-bottom: 40px;
        cursor: pointer;
      }
    }
    .accordion-feature-graphic {
      padding: 40px;
      h2 {
        font-weight: 800;
        color: #dd3959;
      }
    }
  }
  a {
    text-align: center;
    padding: 10px 20px;
  }
}

@media (max-width:900px) {
  .accordion-feature-container {
    .accordion-feature-item-container {
      flex-direction: column;
      >div {
        width: 100%;
        padding: 0;
      }
      .accordion-feature-item:first-of-type {
        margin-top: 40px;
      }
      .accordion-feature-graphic {
        padding: 0;
        padding-bottom: 40px;
      }
    }

  }
}

.about-parent-container {
  background-color: $alt-light;
  border-radius: 0 0 60px 60px;
}
.about-main-container {
  text-align: center;
  padding: 60px;
  hr {
    margin: 60px 0;
  }
}

.hover-overlay {
  background-color: rgba(240,240,240,0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 800;
}

.mobile-overlay {
  @extend .hover-overlay;
  background-color: rgba(240,240,240,0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    cursor: pointer;
  }
  a {
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    color: $primary-dark;
    margin: 20px 0;
  }
}

.resource-modal {
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 900;
  i {
    font-size: 2rem;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .modal-menu {
    padding-top: 160px;
    padding-left: 60px;
    font-size: 2rem;
    div, a {
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: $primary-dark;
      &:hover {
        color: $primary;
      }
    }
  }
}

.faq-container {
  padding: 0 60px;
  border-top: 1px $primary-dark solid;
  border-bottom: 1px $primary-dark solid;
  .faq-item {
    border-bottom: 1px $primary-dark solid;
    border-left: 1px $primary-dark solid;
    border-right: 1px $primary-dark solid;
    padding: 20px;
    cursor: pointer;
    .faq-question {
      font-family: 'PT Serif', serif;
      font-size: 2rem;
      margin-bottom: 10px;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .faq-answer {
      font-size: 1.2rem;
    }
  }
  .faq-item:last-of-type {
    border-bottom: none;
  }
}

.case-studies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 60px;
  .case-study-item {
    width: 45%;
    cursor: pointer;
    padding: 20px;
    text-decoration: none;
    color: $primary-dark;
    img {
      height: 160px;
    }
    h4:first-of-type {
      margin-top: 20px;
    }
    h4:nth-of-type(2) {
      font-weight: 600;
    }
  }
}

@media (max-width:900px) {
  .case-studies-container {
    flex-direction: column;
    margin: 0 30px;
    .case-study-item {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

.case-study-container {
  padding: 30px 60px;
  h4 {
    font-weight: 600;
    margin: 40px 0;
  }
  h6 {
    font-weight: 600;
  }
  .quote {
    padding-left: 20px;
    border-left: 6px $primary solid;
    font-style: italic;
    margin-top: 40px;
  }
  hr {
    margin: 40px 0;
  }
}

.back-button {
  text-decoration: none;
  color: $primary;
}

.api-parent-container {
  background-color: $alt-light;
  border-radius: 0 0 60px 60px;
  .api-main-container {
    background: rgb(242,248,246);
    background: linear-gradient(180deg, rgba(242,248,246,1) 0%, rgb(165, 158, 232) 100%);
    min-height: 70vh;
    border-radius: 0 0 60px 60px;
    display: flex;
    align-items: center;
    .cta-button-lg {
      padding: 8px 16px;
    }
    >div:first-of-type {
      width: 60%;
      padding: 60px;
    }
    >div:last-of-type {
      width: 40%;
      overflow: hidden;
      text-align: right;
      align-self: flex-end;
      img {
        // width: 100%;
        max-height: 60vh;
        overflow: hidden;
        border-radius: 0 0 60px 0;
      }
    }
  } 
  .landing-feature-container {
    margin-top: 80px;
    padding: 0;
    .landing-feature-item {
      align-items: center;
      padding: 60px;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    li {
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 400;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 2.2rem;
      line-height: 3.3rem;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
  .landing-feature-item:nth-of-type(2), .landing-feature-item:nth-of-type(4) {
    background-color: $primary-dark;
    color: $primary-light;
  }
  .api-bottom-container {
    text-align: center;
    padding: 60px;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.left-pad {
  padding-left: 60px;
}
.right-pad {
  padding-right: 60px;
}

@media (max-width:800px) {
  .api-parent-container {
    .api-main-container {
      flex-direction: column;
      >div:first-of-type {
        width: 100%;
        text-align: center;
      }
      >div:last-of-type {
        width: 100%;
        img {
          // width: 100%;
          max-height: 60vh;
          overflow: hidden;
          border-radius: 0 0 60px 0;
        }
      }
    }
    .landing-feature-container {
      .landing-feature-item {
        flex-direction: column;
        >div {
          width: 100%;
        }
        .left-pad, .right-pad {
          margin-bottom: 40px;
          padding: 0;
          img {
            width: 70%;
            margin-left: 15%;
          }
        }
      }
      .landing-feature-item:nth-of-type(1), .landing-feature-item:nth-of-type(3) {
        flex-direction: column-reverse;
      }
    }
  }
}